/*---------------------------------------
orange: #e67e22;
darker orange:#bf6516
---------------------------------------*/




/*---------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    background-color:#fff;
    color:rgb(0, 0, 0);
    font-family:'Lato','Arial',sans-serif;
    font-weight:800;
    font-size:20px;
    text-rendering:optimizeLegibility;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/*---------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------*/
.row{
    /* border: 1px solid black; */
    max-width: 1140px;
    margin:0 auto; /* this is similar to 0 auto 0 auto */
}


/*---------------------------------------------
HEADER
---------------------------------------------*/                      
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.77),rgba(0, 0, 0, 0.77)),url(img/hero.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
    /* border:2px solid red; */
    color:#fff;
}

.heroText{
    /* border:1px solid greenyellow; */
    width:1140px;
    /* this positions the element exactly in the center of the 
    parent element or the viewport (ie according to whichever of 
    these, the element has been absolutely positioned)*/
    position:absolute;
    top:50%;
    left:50%;
    /* font-size:240%; */
    transform: translate(-50%,-50%);
    /*------------------------*/
}
/* header{
    border:1px solid rgba(255, 255, 255, 0);
} */
h1{
    font-size:240%;      
    margin-bottom: 10px;
    text-transform:uppercase;
    font-weight:300;
    word-spacing: 10px;
    letter-spacing:1px;
}
h2{
    text-transform: uppercase;
    font-size:175%;
    font-weight:600;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
h3{
    font-size:25px;
    font-weight:600;
}

/*----------------------------------------
BUTTONS
------------------------------------------*/
.btn:link,.btn:visited{
    display:inline-block;
    /* background-color:#e67e22; */
    border-radius:200px;
    /* color:white; */
    text-decoration:none;
    padding:10px 25px;
    font-size:20px;
    font-weight:100;
    transition:background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-main{
    margin-right:20px;
    background-color:#e67e22;
    border:1px solid #e67e22;
    color:white;
}
.btn-ghost{
    background-color:rgba(56, 56, 56, 0.178);
    color:#e67e22;
    border:1px solid #e67e22;
}
.btn-main:hover,.btn-main:active{
    border:1px solid #bf6516;
    background-color:#bf6516;
}
.btn-ghost:hover,.btn-ghost:active{
    border:1px solid #bf6516;
    background-color:#bf6516;
    color:white;
}
/*---------------------------------------*/
/* LOGO */
/*---------------------------------------*/

.logo{
    height:100px;
    width:auto;
    float:left;
}
/*---------------------------------------*/
/* NAVIGATION PANEL */
/*---------------------------------------*/

.nav-panel{
    /* border:1px solid greenyellow; */
    /* display: block; */
    position:absolute;
    /* margin:auto; */
    left:50%;
    top:30px;
    transform:translate(-50%,0);
    width:1140px
}
.nav-panel .nav-links{
    float:right;
    margin-top: 35px;;
}
.nav-links li{
    display: inline-block;
}
.nav-links a:link,.nav-links a:visited{
    text-decoration: none;
    color:#fff;
    margin:5px;
    font-weight:300;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-transform:uppercase;
    font-size: 90%;
    transition: border-bottom 0.2s;
    padding: 5px 0;
    border: 1px solid transparent;
}
.nav-links a:hover,.nav-links a:active{
    text-decoration: none;
    color:#fff;
    margin:5px;
    font-weight:300;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-transform:uppercase;
    font-size: 90%;
    border-bottom: 1px solid #e67e22;
}

/*---------------------------------------*/
/* FEATURES SECTION */
/*---------------------------------------*/
.sec-features{
    color:black;
    /* border:1px solid greenyellow; */
    text-align:center;
    margin-top:100px;
}
.sec-features .heading{
    font-weight:300;
    margin:0 15%;
    letter-spacing: 1px;
}
.sec-features .heading p{
    margin: 10% 0;
}
.sec-features .heading p::after{
    height:3px;
    background-color:#e67e22;
    width:200px;
    content:" ";
    display:block;
    margin:10% auto;
}
.features{
    margin-top: 40px;
    font-size:125%;
    font-weight:300;
}
.feature{
    float:left;
    margin:1%;
    width:23%;
    font-size:80%;
    text-align:center;
}
.feature p{
    text-align:center;
    line-height: 125%;
    margin-top:20px;
}
.features ion-icon{
    font-size:300%;
    color: #e67e22;
    margin-bottom:20px;
}
.tempa{
    margin-bottom:45px;
}
/*---------------------------------------*/
/* GALLERY CUSTOMER FAVOURITES */
/*---------------------------------------*/
.gallery{
    margin-top: 20%;
    width:100%;
    height:auto;
}
.gallery ul{
    list-style: none;
    /* display:block; */
    width:100%;
    height:auto;
    margin:0;
}
.gallery li{
    float:left;
    width:25%;
    height:auto;
    /* border:1px solid red; */
    margin:0;
    overflow:hidden;
    background-color: #000;
}
.gallery img{
    width:100%;background-color: black;
    height:auto;
    /* border:1px solid greenyellow; */
    margin:0;
    transform:scale(1.3);
    transition:transform 0.5s,opacity 0.5s;
    opacity:0.6;
}
.gallery img:hover{
    transform:scale(1);
    opacity:1;
}