/* ---------------------------------------
orange: #e67e22;
darker orange:#bf6516
green:#73daab;
blue:rgb(202, 239, 250);
---------------------------------------*/




/*---------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    background-color:#fff;
    color:rgb(0, 0, 0);
    font-family:'Lato','Arial',sans-serif;
    font-weight:800;
    font-size:20px;
    text-rendering:optimizeLegibility;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/*---------------------------------------*/
/* REUSABLE COMPONENTS */
/*---------------------------------------*/
.row{
    max-width: 1140px;
    margin:0 auto; /* this is similar to 0 auto 0 auto */
    /* border:1px solid greenyellow; */
}


.col{
    display: block;
    float:left;
    /* margin:1% 0% 1% 1.6%; */
    /* border:1px solid royalblue; */
}
.col-1-of-2{
    float:left;
    width:50%;
}

/*---------------------------------------------
HEADER
---------------------------------------------*/                      
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(img/hero.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
    /* border:2px solid red; */
    color:#fff;
    background-attachment: fixed;
}

.heroText{
    /*border:1px solid greenyellow;
    */width:1140px;
    /*thispositionstheelementexactlyinthecenteroftheparentelementortheviewport(ieaccordingtowhicheverofthese,theelementhasbeenabsolutelypositioned)*/position:absolute;
    top:50%;
    left:50%;
    /*font-size:240%;
    */transform: translate(-50%,-50%);
        /*------------------------*/:;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* header{
    border:1px solid rgba(255, 255, 255, 0);
} */
h1{
    font-size:240%;      
    margin-bottom: 10px;
    text-transform:uppercase;
    font-weight:300;
    word-spacing: 10px;
    letter-spacing:1px;   
}
h2{
    text-transform: uppercase;  
    font-size:175%;
    font-weight:600;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
h3{
    font-size:25px;
    font-weight:600;
    text-transform:uppercase;
}

/*----------------------------------------
BUTTONS
------------------------------------------*/
.btn:link,.btn:visited,.form input[type="submit"]{
    display:inline-block;
    /*background-color:#e67e22;
    */border-radius:200px;
    /*color:white;
    */text-decoration:none;
    padding:10px 25px;
    font-size:20px;
    font-weight:100;
    transition:background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition:background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition:background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition:background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition:background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-main,.form input[type="submit"]{
    margin-right:20px;
    background-color:#e67e22;
    border:1px solid #e67e22;
    color:white;
}
.btn-ghost{
    background-color:rgba(56, 56, 56, 0.11);
    color:#e67e22;
    border:1px solid #e67e22;
}
.btn-main:hover,.btn-main:active,
.form input[type="submit"]:hover,
.form input[type="submit"]:active{
    border:1px solid #bf6516;
    background-color:#bf6516;
}
.btn-ghost:hover,.btn-ghost:active{
    border:1px solid #bf6516;
    background-color:#bf6516;
    color:white;
}
/*---------------------------------------*/
/* LOGO */
/*---------------------------------------*/

.logo{
    height:100px;
    width:auto;
    float:left;
}
/*---------------------------------------*/
/* NAVIGATION PANEL */
/*---------------------------------------*/

.nav-panel{
    /* border:1px solid greenyellow; */
    /* display: block; */
    position:absolute;
    /* margin:auto; */
    left:50%;
    top:30px;
    transform:translate(-50%,0);
    width:1140px;
}
.nav-panel .nav-links{
    float:right;
    margin-top: 35px;;
}
.nav-links li{
    display: inline-block;
}
.nav-links a:link,.nav-links a:visited{
    text-decoration: none;
    color:#fff;
    margin:5px;
    font-weight:300;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-transform:uppercase;
    font-size: 90%;
    transition: border-bottom 0.2s;
    padding: 5px 0;
    border: 1px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
}
.nav-links a:hover,.nav-links a:active{
    text-decoration: none;
    color:#fff;
    margin:5px;
    font-weight:300;
    letter-spacing: 0px;
    word-spacing: 1px;
    text-transform:uppercase;
    font-size: 90%;
    border-bottom: 1px solid #e67e22;
}

/*---------------------------------------*/
/* FEATURES SECTION */
/*---------------------------------------*/
.sec-features{
    color:black;
    /* border:1px solid greenyellow; */
    text-align:center;
    margin-top:100px;
}
.sec-features .heading{
    font-weight:300;
    margin:0 15%;
    letter-spacing: 1px;
}
.sec-features .heading p{
    margin: 10% 0;
}
.sec-features .heading p::after{
    height:3px;
    background-color:#e67e22;
    width:200px;
    content:" ";
    display:block;
    margin:10% auto;
}
.features{
    margin-top: 40px;
    font-size:125%;
    font-weight:300;
}
.feature{
    float:left;
    margin:1%;
    width:23%;
    font-size:80%;
    text-align:center;
}
.feature p{
    text-align:center;
    line-height: 125%;
    margin-top:20px;
}
.features ion-icon{
    font-size:300%;
    color: #e67e22;
    margin-bottom:20px;
}
.tempa{
    margin-bottom:45px;
}
/*---------------------------------------*/
/* GALLERY CUSTOMER FAVOURITES */
/*---------------------------------------*/
.gallery{
    margin-top: 20%;
    width:100%;
    height:auto;
}
.gallery ul{
    list-style: none;
    /* display:block; */
    width:100%;
    height:auto;
    margin:0;
}
.gallery li{
    float:left;
    width:25%;
    height:auto;
    /* border:1px solid red; */
    margin:0;
    overflow:hidden;
    background-color: #000;
}
.gallery img{
    width:100%;
    background-color: black;
    height:auto;
    /*border:1px solid greenyellow;
    */margin:0;
    transform:scale(1.3);
    transition:transform 0.5s,opacity 0.5s;
    opacity:0.6;
    -webkit-transform:scale(1.3);
    -moz-transform:scale(1.3);
    -ms-transform:scale(1.3);
    -o-transform:scale(1.3);
    -webkit-transition:transform 0.5s,opacity 0.5s;
    -moz-transition:transform 0.5s,opacity 0.5s;
    -ms-transition:transform 0.5s,opacity 0.5s;
    -o-transition:transform 0.5s,opacity 0.5s;
}
.gallery img:hover{
    transform:scale(1);
    opacity:1;
}


.clearfix:after{
    content:"suraj";
    clear:both;
    display:block;
    height:0;
    visibility: hidden;
}
.gallery{
    /* border:1px solid deeppink; */
}
/*---------------------------------------*/
/* how it works */
/*---------------------------------------*/
.howitworks{
    padding-top:15vh;
    background-color:rgb(202, 239, 250);
    padding-bottom:15vh;
}
.how{ 
    /* border: 1px solid firebrick; */
    text-align: center;
}
.how .left{
    overflow:hidden;
    /* border:1px solid saddlebrown; */
    text-align: center;
}
.how .left img{
    width:50%;
    height:auto;
    margin:auto;
}
.num{
    display: inline-block;
    float:left;
    border: 3px solid #e67e22;
    border-radius:50%;
    color:#e67e22;
    height:50px;
    width:50px;
    text-align: center;
    padding:6px;
    font-size: 150%;
    margin-right:40px;
    margin-left:20px;
}
.step{
    margin-bottom: 100px;
    font-weight:600;
}

.left{
    margin-top:100px;
}
.right{
    margin-top:180px;
}
.top:after{
    display:block;
    height:3px;
    width:200px;
    margin:10vh auto 0 auto;
    background-color:#e67e22;
    /* content:""; */
    /* border:2px solid #e67e22; */
    content:" ";
}
.applink img{
    display:inline-block;
    height:50px;
    width:auto;
    margin-top:0px;
}
/* .top:last-child{
    background-color: #e67e22;
} */
/* .step:last-of-type{
    background-color:red;
} */



/*---------------------------------------*/
/* cities*/
/*---------------------------------------*/

.city{
    float:left;
    width:25%;
    /* border:1px solid forestgreen; */
}
.city img{
    display: inline-block;
    width:90%;
    height:auto;
    margin:5%;
}
.cities{
    text-align: center;
}
.cities-heading:after{
    display:block;
    content:"";
    /* visibility:hidden; */
    height:3px;
    width:200px;
    background-color: #e67e22;
    margin: 10vh auto;
}
.city ul{
    text-align:left;
    margin-top:10%;
    /* border:1px solid deepskyblue; */
}
.city li{
    margin-bottom:14px;
    margin-left:5%;
    /* margin-top:10%; */
    /* border:1px solid firebrick; */
}
.city-ul ion-icon{
    color:#e67e22;
    font-size: 30px;
    margin-right:15px;
    /* position:relative; */
    vertical-align: middle;
    /* border:1px solid palevioletred; */
}

.sec-cities{
    padding-top:15vh;
    background-color: #73daab;
    padding-bottom:15vh;
    /* border:1px solid forestgreen; */
}
.cities h3,a{
    color:#e67e22;
}

.city a:link,a:visited{
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom:1px;
    transition: border-bottom 0.2s color:0.2s;
}
.city a:hover,a:active{
    text-decoration:none;
    border-bottom: 1px solid transparent;
    color:rgb(202, 239, 250);
}




/*---------------------------------------*/
/* testimonials by customers*/
/*---------------------------------------*/

.sec-testimonials{
    /* margin-top:15vh; */
    /* background-color: rgb(181, 196, 196); */
    padding-top:  15vh;;
    padding-bottom:15vh;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/back-customers.jpg);
    background-attachment: fixed;
    background-size:cover;
}
.tests h2:after{   
    background-color:#e67e22;    
    width:200px;
    height:3px; 
    display:block;
    content:" ";
    margin:10vh auto 10vh auto;
}

.tests{
    width:1140px;
    margin:0 auto;
    text-align:center;
    color:white;
    font-weight:300;
}
.test{
    float:left;
    width:28%;
    text-align:left;
    /* vertical-align: middle; */
    /* align-items: center; */
    /* border:1px solid firebrick; */
    margin:0 2%;
    line-height: 145%;
    font-style:italic;
}
.test img{
    height:100px;
    width:100px;
    border-radius:50%;
    vertical-align: middle;
}
.test cite{
    /* border: 1px solid deeppink; */
    text-align: left;
    width:100%;
    margin-top:5vh;
    display: inline-block;
}
.test blockquote:before{
    content:"\201F";
    font-size: 400%;
    /* display:block; */

}



/*---------------------------------------*/
/* sign up*/
/*---------------------------------------*/
.sec-signup{
    background-color:rgb(202, 239, 250);
    padding:15vh 0;
}
.sign{
    width:1140px;
    margin:0 auto;
}
.sign-head{
    text-align: center;
}
.sign-head:after{
    content:"";
    width: 200px;
    height:3px;
    display:block;
    margin:auto;
    background-color:#e67e22;
    margin:10vh auto;
}
.sign .col-1-of-3{
    float:left;
    width:28%;
    margin:2%;
    border: 1px solid #55290238;
    border-radius:6px;
    text-align: center;
    background-color:rgba(190, 202, 211, 0.616);
    box-shadow:10px 10px 10px #081872a4;
}
.sign-price:after,.sign-features:after{
    content:" ";
    width:100%;
    height:2px;
    display:block;
    background-color:#5529022d;
    /* padding-top:10%; */
}
.sign ion-icon{
    font-size:150%;
    vertical-align: middle;
    color:#e67e22;

}
.sign{
    font-weight:300;
    line-height: 145%;
   
}
.sign .btn{
    margin:5%;
    height: 50px;
    /* width: auto; */
    /* text-align: left; */
    /* display:table-cell; */
    /* vertical-align: middle; */
}
.sign-features{
    text-align: left;
    /* padding-left:5%; */
    font-size:90%;
    line-height:145%;
}
.sign-price .a,.b,.c{
    text-align:left;
    margin:4%;
    line-height: 145%;
}
.sign-price .a,.b{
    color:#070520;
    font-size:200%;
    /* font-weight: 300; */
}
.sign-price .b{
    font-weight: 300;
    color:#e67e22;
}
.sign-features{  
    margin-top:10%;
    /* padding-bottom:10%; */
}
.sign ul{
    padding-bottom:10%;
    /* padding-top:20%; */
}
.sign span{
    font-size:40%;
}
.sign-features ion-icon{
    margin:5%;
}


/*---------------------------------------*/
/* form*/
/*---------------------------------------*/
.sec-form{
    background-color:deepskyblue;
    padding:15vh 0;
}
.form-head{
    margin:0 auto;
    text-align:center;
    /* border:5px solid ; */
}
.form-head:after{
    content:"";
    width:200px;
    height:3px;
    display:block;
    background-color:#e67e22;
    margin:10vh auto;
}
.form-left{
    width:33%;
}
.form-right{
    width:66%;
}
.form-left,.form-right{
    float:left;
    text-align: left;
    /* padding-left:25%; */
}
/* .form-left{
    padding-left:20%;
}
.form-right{
    padding-left:5%;
} */
.form-unit{
    line-height:145%;
    width:60%;
    margin:0 auto;
}
.form-right input[type=text],select,textarea{
    width:100%;
    padding:7px;
    border-radius:3px;
    border:1px solid rgb(133, 133, 133);
}
.form-unit{
    /* margin:14px 0; */
    /* border:1px solid darksalmon; */
    padding:8px 0;
}



/*---------------------------------------*/
/* form*/
/*---------------------------------------*/

.foot1{
    width:50%;
}
.foot2{
    width:50%;
}
.foot{
    float:left;
    color:#666;
}
.foot1 li{
    float:left;
    font-size:80%;
    margin-right:15px;
}
.foot2 li{
    float:right;
    margin-left:15px;
}
.foot a:active,.foot a:link{
    color:#666;
    text-decoration:none;
}
.sec-foot{
    background-color:#333;
    padding:6vh 0;
    /* border:1px solid red; */

}
.foot3{
    display: inline-block;
    text-align: center;
    /* border:1px solid red; */
    width:100%;
    margin-top:5vh;
}
.foot a:hover,.foot a:active{
    color:#ddd;
}
.foot2 a{
    font-size:150%;
}
.foot2 ion-icon[name="logo-facebook"]:hover{
    color:#3b5998;
}
.foot2 ion-icon[name="logo-twitter"]:hover{
    color:#00aced;
}
.foot2 ion-icon[name="logo-google"]:hover{
    color:#db4a39;
}
.foot2 ion-icon[name="logo-instagram"]:hover{
    color:#517fa4;
}
.foot1 a{
    display:inline-block;
    margin-top:10px;
}



